.projectname{
  font-family: 'Lobster Two', sans-serif;
  color: #02568f;
  margin-top: 15px;
  margin-bottom: 15px;
}

#signup-login-wrap{
  width:300px;
  height:30px;
  display:flex;
  justify-content: space-between;
}

.signup-login{
  width:48%;
  border-radius:25px;
  border : 0.5px solid white;
  font-size: 16px;
  font-family: 'roboto';
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
}

.signup{
  background-color: white;
  color: var(--dark);
}

.login{
  background-color: transparent;
  color:white;
}


.auth-wrap{
    height: 80%;
    display: grid;
    justify-content: center;
  }

  .auth-form{
    width:420px;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding:10px;
    margin: 20px;
    box-shadow: 0 0 0.4rem 0.4rem rgba(31, 106, 219, 0.25);
    border-radius:15px;
    color:var(--dark);
    align-self: center;
  }

  .auth-projectname{
    font-size: 48px;
    text-align: center ;
  }

  .auth-form > *:not(label){
    margin-bottom:15px;
  }

  .auth-form input {
    height:auto;
    border:none;
    background-color: #E6E6E6;
    border-radius: 5px;
    padding:10px;
    width: auto;
  }

  #username-wrap{
    display:flex;
    /* justify-content: space-between; */
  }

  /* #username-wrap input{
    width:100%;
  }

  #username-wrap label{
    width:45%;
  } */

  .auth-form label{
    font-size:15px;
    font-family: 'Poppins';
  }

  .auth-form button{
    font-family: 'Poppins';
    font-size:14px;
    height:45px;
    width:100%;
    border-radius: 5px;
    border:none;
  }
  
  #signup-btn,#login-btn{
    background-color: #02568f;
    color:white;
  }

  #signup-w-google-btn,#login-w-google-btn{
    background-color: white;
    box-shadow:0px 0px 5px 0px ; 
  }

  .line{
    height:1px;
    background-color:#02568f;
    width:40%;
    border-radius: 0.5px;
  }

  .or{
    color:#02568f;
    font-family: poppins;
    width:20%;
    text-align: center;
  }

  .or-wrap{
    display: flex;
    align-items: center;
  }

  .auth-extra{
    font-family: 'Poppins';
    font-size: 12px;
    text-align:center;
  }

  .error-box{
    background-color: rgb(255, 239, 239);
    color:red;
    border-radius:5px;
    font-family: 'Poppins';
    font-size: 12px;
    padding: 5px;
    display: block;
  }

  .error-icon-span{
    position:relative;
    top:2px;
    margin-right:2px;
  }